---
layout: default
---

<div class="ui stackable two column grid">
  <div class="ui grid"><div class="mobile only row">
        <div class="ui purple inverted menu">
          <a class="active item">
            <i class="help icon"></i> Docs
          </a>
          <a class="item">
            <i class="bug icon"></i> Issues
          </a>
        </div>
  </div></div>
  <div class="header eight wide center aligned column left-header">

    <br/>    <br/>
    <h1 id="title">Kuso IDE</h1>
    <p id="slug">Fast and flexible IDE base on lovely GNU/Emacs for Emacs gurus.</p>

    <div class="row" id="dlforkbtn">
      <div class="column">
        <a href="https://github.com/KusoIDE" class="ui  teal massive labeled icon button"><i class="github  icon"></i> Fork</a>
        <a href="http://dl.kuso.lxsameer.com/1.0/Kuso-1.0.0-rc2.tar.xz" class="ui orange right  massive labeled icon button"><i class="download  icon"></i> Download</a>
      </div>
    </div>
  </div>


  <div class="eight wide column">
    <div class="ui grid">
      <div class="computer tablet only row">
        <div class="ui purple inverted menu">
          <a class="active item" href="https://github.com/KusoIDE/KusoIDE/wiki">
            <i class="help icon"></i> Docs
          </a>
          <a class="item" href="http://dl.kuso.lxsameer.com/">
            <i class="download icon"></i> Downloads
          </a>
          <a class="item" href="https://github.com/KusoIDE/KusoIDE/issues">
            <i class="bug icon"></i> Issues
          </a>
        </div>
      </div>
    </div>
      <br/>
      <div class="row">
        <div class="ui segment">
          <div class="row">
            <div class="column">
              <div class="post">
                <h1 class="post-title">Tool for Gurus</h1>
                <p>If you love GNU/Emacs, If you love to program in an editor instead of big slow IDE but still enjoy to have a handy code editor then Kuso IDE is the right choice for you.</p>
                <p>If you find my work interesting please give me a kudos in <a href="//ohloh.org/accounts/lxsameer/">my profile</a> on <a href="//ohloh.org">ohloh.org</a>.</p>

              </div>

            </div>
          </div>

        </div>

      </div>

      <br/>
      <div class="row">
        <div class="column">
          <div class="ui segment">
            {{ content }}
          </div>
        </div>
      </div>

      <footer>

        <div class="row">
          <div class="column right aligned">
            <span>© 2010-2014 <a class="invert" href="http://www.lxsameer.com">lxsameer</a></span>
          </div>
        </div>
      </footer>
    </div>

</div>
