---
layout: default
---

<div class="ui stackable two column grid">
  <div class="row">
    <div class="header eight wide center aligned column left-header">
      <h1 id="title">Kuso IDE</h1>
      <p id="slug">Fast and flexible IDE base on lovely GNU/Emacs for Emacs gurus.</p>

      <div class="row" id="dlforkbtn">
        <div class="column">
          <div class="ui animated fade massive teal button">
            <div class="visible content"> Fork on</div>
            <div class="hidden content">Github
            </div>
          </div>
          <a href="//dl.kuso.lxsameer.com/" class="ui orange massive labeled icon button"><i class="download  icon"></i> Download</a>
        </div>
      </div>

      <div class="row"><div class="column">
        <div class="post row">
          <div>

            <p>If you love GNU/Emacs, If you love to program in an editor instead of big slow IDE but still enjoy to have a handy code editor then Kuso IDE is the right choice for you.</p>
            <p>Made with <i class="heart icon"></i> by <a href="//lxsameer.com">lxsameer</a>. If you find my work interesting please give me a kudos in <a href="//ohloh.org/accounts/lxsameer/">my profile</a> on <a href="//ohloh.org">ohloh.org</a>.</p>

          </div>
        </div>

      </div></div>
    </div>


    <div class="eight wide column">
      <div class="row">
        <div class="ui segment">
          asdasd
        </div>

      </div>

      <br/>
      <div class="row">
        <div class="column">
          <div class="ui segment">
            {{ content }}
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
