---
layout: default
---
<div class="ui one column grid">

  <div class="row">
    <div class="column">
      <div class="computer tablet only row">
        <div class="ui purple inverted menu">
          <a class="active item" href="https://github.com/KusoIDE/KusoIDE/wiki">
            <i class="help icon"></i> Docs
          </a>
          <a class="item" href="http://dl.kuso.lxsameer.com/">
            <i class="download icon"></i> Downloads
          </a>
          <a class="item" href="https://github.com/KusoIDE/KusoIDE/issues">
            <i class="bug icon"></i> Issues
          </a>
        </div>
      </div>
    </div>
  </div>
  <br/>


  <div class="row">
    <div class="column">
      <div class="ui segment">
        <h1 class="post-title"><a href="{{ post.url }}">{{ page.title }}</a></h1>

        <div class="post">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />

  <div class="row">
    <div class="column">
      <div class="ui segment">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
         /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
         var disqus_shortname = 'kusoide'; // required: replace example with your forum shortname

         /* * * DON'T EDIT BELOW THIS LINE * * */
         (function() {
           var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
           dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
           (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

      </div>
    </div>

  </div>

    <div class="row">
      <div class="column">
        <footer>
        <div class="ui two column grid">
          <div class="row">
            <div class="column">
              <span>© 2010-2014 <a class="invert" href="http://www.lxsameer.com">lxsameer</a></span>

            </div>
            <div class="right aligned column">

              <script type="text/javascript" src="http://www.ohloh.net/p/487203/widgets/project_thin_badge.js"></script>
            </div>
          </div>
        </div>
        </footer>
      </div>
    </div>
</div>
